
<div class="input-group mt-3 mb-0">
    <input type="text" id="speech-input" class="form-control form-control-sm" placeholder="Enable mic and start speaking. You can also type here..." aria-label="User Input" aria-describedby="button-addon2" (keyup)="triggerAnnyang($event)">
    <button class="btn btn-outline-secondary speech-off" type="button" id="speech-search" (click)="toggleSpeech()"><i class="bi bi-mic-fill"></i> Mic On</button>
</div>

<div class="pb-3 mb-3" style="border-bottom: 1px dotted black;">
    <a href="#" class="mx-2"><small>Need Help?</small></a>
</div>



