<app-header></app-header>
<div class="container-lg">
    <div class="row">
        <div class="col-6">
            <app-report-chartarea></app-report-chartarea>
        </div>
        <div class="col-6">
            <div class="row">
                <app-report-useractionsarea></app-report-useractionsarea>
            </div>
            <div class="row">
                <div class="col-6">
                    <app-report-configarea></app-report-configarea>
                </div>
                <div class="col-6">
                    <app-report-datamodelarea></app-report-datamodelarea>
                </div>
            </div>
        </div>
        
    </div>
</div>