<div id="dashboard-area" style="background-color: #fafafa;" class="px-2 py-3">
    <h1 id="dashboard-header" class="display-4 ff-mw" style="border-bottom: 1px  dotted black;">BLK Alts Deals</h1>
    <div style="border-bottom: 1px dotted black;" class="chart-section">
        <p id="dashboard-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere in turpis ut sodales. In placerat velit tellus, laoreet volutpat ante maximus non. Sed rutrum felis augue, sit amet tempor erat tincidunt ornare.</p>
        <h4 id="dashboard-subheader" class="ff-ms">Platform Current State</h4>
        <div class="row mb-3">
            <div class="col-3">
                <div class="card" >
                    <div class="text-center">
                      <p class="ff-os chart-title"><small>Metric 1</small></p>
                      <p class="ff-os chart-card-text">2100</p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" >
                    <div class="text-center">
                      <p class="ff-os chart-title"><small>Metric 2</small></p>
                      <p class="ff-os chart-card-text">1721</p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" >
                    <div class="text-center">
                      <p class="ff-os chart-title"><small>Metric 3</small></p>
                      <p class="ff-os chart-card-text">101</p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" >
                    <div class="text-center">
                      <p class="ff-os chart-title"><small>Metric 4</small></p>
                      <p class="ff-os chart-card-text">59</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div style="border-bottom: 1px dotted black;" class="chart-section">
        <p id="dashboard-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere in turpis ut sodales. In placerat velit tellus, laoreet volutpat ante maximus non.</p>
        <div class="row">
            <div class="col-6">
                <div id="new-chart"></div>
            </div>
        </div>
    </div>

</div>

<div id="chart-area" style="display: none;"  class="px-2 py-3">
    <h1 class="display-5 ff-mw" style="border-bottom: 1px  dotted black;">Chart Area</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere in turpis ut sodales.</p>
    
    <div id="visualizations">
        <div id="current-chart"></div>
    </div>
</div>
